.sitewide {
    background-color: #282a36;
    background-image: url(../img/food.svg);
    background-size: fill;
    margin-bottom: 60px;
}

.menu {
    background-color: #282a36;
    background-image: url(../img/food.svg);
    background-size: fill;
    margin-bottom: 60px;
}